<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ task_detail.name }}</h1>
        <h2>Tasks</h2>
        <table>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
          <tbody>
            {% for task in task_detail.items.all %}
            <tr>
              <td><a href="{% url 'todo_list_list' %}">{{ task.task }}</a></td>
              <td>{{ task.due_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
